# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.sqlite3

# Environments
.env
.venv
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
